{% extends 'management/serviceModal.html.twig' %}
{% block page %}
		<h1>
      	Création de devis :
      	{{ devis.client.nom}}
      	{{ devis.client.prenom}}
      </h1>
{% endblock %}
{% block subBody %}

<div class="row mt-3">
	<div class="col-sm-6">
		<div class="card card-default card-table">
			<div class="card-header">
				<h2>Prestations</h2>
			</div>
			<div class="card-body">
				<div class="btn-group btn-block" role="group">
					<a href="{{ path('creation',{ 'devis':devis.id, 'type': 1 }) }}" class="btn btn-secondary {% if focus is defined and focus== '1' %}cyan{% endif %}">
						<i class="fas fa-desktop"></i></a>
					<a href="{{ path('creation',{ 'devis':devis.id, 'type': 2 }) }}" class="btn btn-secondary {% if focus is defined and focus== '2' %}cyan{% endif %}"><i
						class="fas fa-palette"></i></a>
					<a href="{{ path('creation',{ 'devis':devis.id, 'type': 3 }) }}" class="btn btn-secondary {% if focus is defined and focus== '3' %}cyan{% endif %}"><i
						class="fas fa-cogs"></i></a>
					<a href="{{ path('creation',{ 'devis':devis.id, 'type': 4 }) }}" class="btn btn-secondary {% if focus is defined and focus== '4' %}cyan{% endif %}"><i
						class="fas fa-percent"></i></a>			
				</div>
				<div class="card-body">
					<table class="table">
						<tbody>
							{% for prestation in prestations %}
							<tr>
								{% if(prestation.type.id!=4) %}
								<td><i id="{{ prestation.description | nl2br}}" class="fas fa-search-plus js-toggle"></i></td>
								{% endif %}
								<td class="left">{{ prestation.code }} - {{ prestation.libelle }}</td>
								<td><a
									href="
									{% if(prestation.type.id==4) %}
										{{ path('creation_discount', { 'prestation': prestation.id, 'devis':devis.id }) }}
									{% else %}
										{{ path('creation_addLine', { 'prestation': prestation.id, 'devis':devis.id }) }}
									{% endif %}
									"><i
										class="fas fa-cart-plus"></i></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card card-default card-table">
			<div class="card-header">
				<h2>Details</h2>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th colspan="3">Quantité</th>
							<th>Libellé</th>
							<th>Prix</th>
							<th>Supprimer</th>
						</tr>
					</thead>
					<tbody>
						{% set somme = 0 %}
						{% for ligneDevis in devis.ligneDevis %}
						<tr>
							<td><a
								href="{{ path('creation_serviceQty', { 'ligneDevis': ligneDevis.id, 'action':"remove" }) }}"><i
									class="fas fa-minus-square"></i></a></td>
							<td>{{ ligneDevis.quantite }}</td>
							<td><a
								href="{{ path('creation_serviceQty', { 'ligneDevis': ligneDevis.id, 'action':"add" }) }}"><i
									class="fas fa-plus-square"></i></a></td>
							<td>{{ ligneDevis.prestation.libelle }}</td>
							<td>{{ ligneDevis.prestation.montant }}</td>
							<td><a
								href="{{ path('creation_removeLine', { 'ligneDevis': ligneDevis.id }) }}"><i
									class="fas fa-times-circle"></i></a></td>
						</tr>
						{% set somme = somme + (ligneDevis.prestation.montant*ligneDevis.quantite) %}
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3"></td>
							<td>Somme :</td>
							<td>{{ somme }}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td>Discount :</td>
							<td>{{ devis.discount }} %</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td><b>A payer :</b></td>
							{% set somme = somme - (somme*devis.discount/100) %}
							<td><b>{{ somme }}</b></td>
							<td></td>
						</tr>
					</tfoot>
				</table>
					<a class="btn btn-primary alfSize" href="{{ path('creation_validate',{ 'devis':devis.id }) }}">Créer un devis</a>
					<a class="btn btn-primary alfSize" href="{{ path('creation_invoice',{ 'devis':devis.id }) }}">Créer une facture</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
