<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>facture Kip Creativ</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/render_PDF.css') }}">

		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="{{ asset('js/drag.js') }}"></script>
	</head>
	<body>
		<header>
			<a class="navbar-brand" href="{{ path('user_page') }}">
				<table class="bord">
					<tr>
						<td rowspan="2" id="logo"></td>
						<td class="align-right" id="fact-dev">FACTURE N°</td>
						<td id="fact-numb">{{ accompte.numero }}</td>
					</tr>
					<tr>
						<td class="align-right">Date:</td>
						<td>{{ accompte.date | date("d/m/Y") }}</td>
					</tr>
				</table>
			</a>
			<table id="info">
				<tr>
					<td>Gwenaelle VANHOUTTE</td>
					<td class="client">À: </td>
					<td>{{ accompte.devis.client.nom }} {{ accompte.devis.client.prenom }}</td>
				</tr>
				<tr>
					<td>KIP CREATIV'</td>
					<td class="client">Entreprise: </td>
					<td>{{ accompte.devis.client.societe }}</td>
				</tr>
				<tr>
					<td>132 rue de Dunkerque</td>
					<td class="client">Adresse: </td>
					<td rowspan="2">{{ accompte.devis.client.adresse | nl2br}}</td>
				</tr>
				<tr>
					<td>59200 Tourcoing</td>
					<td class="client"></td>
				</tr>
				<tr>
					<td>Siret 839 250 065 00019</td>
					<td class="client">TVA intra:</td>
					<td>{{ accompte.devis.client.tvaIntracommunautaire }}</td>
				</tr>
				<tr>
					<td>Téléphone: 07 81 21 95 94</td>
					<td class="client">Téléphone: </td>
					<td>{{ accompte.devis.client.telephone }}</td>
				</tr>
				<tr>
					<td>Email: kip.creativ@gmail.com</td>
					<td class="client">N° client: </td>
					<td>C000{{ accompte.devis.client.id }}</td>
				</tr>
			</table>
		</header>
		<section>
			<table id="fact">
				<thead>
					
					<th class="descrp">Description</th>
					<th class="pu">PU HT</th>
					<th class="qte">Quantité</th>
					<th class="montant">Montant HT</th>
				</thead>
				<tr>
					
					<td class="descrp">Acompte sur devis n°{{ accompte.devis.id }}</td>
					<td class="pu">{{ accompte.montant|number_format(2, '.', ' ') }} €</td>
					<td class="qte">1</td>
					<td class="montant">{{ accompte.Montant|number_format(2, '.', ' ') }} €</td>
				</tr>
			</table>
		</section>
		<footer>
			<table id="total">
				<tr>
					
					<td class="total-3"></td>
					<td class="total-4"></td>
					
				</tr>
				<tr>
					<td colspan="3" rowspan="2" class="total-1-mention">
						Chèque libellé à l'ordre de: Vanhoutte Gwenaelle<br>
						Iban: Vanhoutte Gwenaelle | FR76 1254 8029 9846 4238 6150 810 | BIC: AXABFRPP
					</td>
					<td class="total-4"></td>
					
				</tr>
				<tr>
					<td class="total-4"></td>
					<td class="total-5-bord">Total HT</td>
					<td class="total-6-bord">{{ accompte.montant|number_format(2, '.', ' ') }} €</td>
				</tr>
				<tr>
					<td colspan="3" rowspan="4" class="total-1-mention">
						- Conditions de réglement: acompte de 30% à la signature du devis, solde à la livraison<br>
						- Conditions d'escompte: aucun escompte ne sera consenti pour réglement anticipé<br>
						- Toute somme non payée à sa date d'exigibilité produira de plein droits des intérêts de retard équivalent à 10% des sommes dues ainsi qu'une indemnité forfaitaire de 40€ pour frais de recouvrement
					</td>
					<td class="total-4"></td>
					
				</tr>
				<tr>
					<td class="total-4"></td>
					<td class="total-5-bord">Total TTC</td>
					<td class="total-6-bord">{{ accompte.montant|number_format(2, '.', ' ') }} €</td>
				</tr>
				<tr>
					<td class="total-4"></td>
					<td colspan="2" class="total-5" id="tva">{{ accompte.devis.client.zone.texteTva }}</td>
				</tr>
				<tr>
					<td class="total-1"></td>
					<td class="total-2"></td>
					<td class="total-3">Merci pour votre confiance</td>
					<td class="total-4"></td>
					<td class="total-5"></td>
					<td class="total-6"></td>
				</tr>
			</table>
		</footer>
	</body>

</html>
