{% extends 'base.html.twig' %}

{% block page %}
	<h1>
    	Facture n°
    	{{ avoir.numero }}
    	-
    	{{ avoir.facture.devis.client.nom }}
    	{{ avoir.facture.devis.client.prenom }}
    </h1>
{% endblock %}

{% block body %}
	<div class="col-lg-12 col-md-12 mb-3">
		<div class="card card-default card-table mt-3 shadow">
			<section>
				<table id="fact">
					<thead>
						<th class="ref">Référence</th>
						<th class="preta">Prestation</th>
						<th class="descrp">Description</th>
						<th class="pu">PU HT</th>
						<th class="qte">Quantité</th>
						<th class="montant">Montant HT</th>
					</thead>
					<tr>
						{% set somme = 0 %}
						{% for ligne in avoir.ligneAvoir %}
						<td class="ref2">{{ ligne.prestation.code }}</td>
						<td class="presta">{{ ligne.prestation.libelle }}</td>
						<td class="descrp">{{ ligne.prestation.description | nl2br}}</td>
						<td class="pu">{{ ligne.prestation.montant|number_format(2, '.', ' ') }} €</td>
						<td class="qte">{{ ligne.quantite }}</td>
						<td class="montant">{{ (ligne.prestation.montant*ligne.quantite)|number_format(2, '.', ' ') }} €</td>
					</tr>
					{% set somme = somme + (ligne.prestation.montant*ligne.quantite) %}
					{% endfor %}
				</table>
			</section>
			<footer>
				<table id="total">
					<tr>
						<td colspan="2" class="total-1" id="rglmt">
						</td>
						<td class="total-3">Date de livraison de la prestation:</td>
						<td class="total-4">{{ avoir.facture.livraison | date("d/m/Y") }}</td>
						<td class="total-5-bord">Total HT</td>
						<td class="total-6-bord">{{ somme|number_format(2, '.', ' ') }} €</td>
					</tr>
					<tr>
						<td colspan="3" rowspan="2" class="total-1-mention">
							Date: {{ avoir.date  | date("d/m/Y") }}<br>
							Selon facture n°{{ avoir.facture.numero }}
						</td>
						<td class="total-4"></td>
						<td class="total-5-bord">Remise</td>
						<td class="total-6-bord">{{ avoir.facture.devis.discount }} %</td>
					</tr>
					<tr>
						<td class="total-4"></td>
						<td class="total-5-bord">Total TTC</td>
						{% set somme = somme - (somme*avoir.facture.devis.discount/100) %}
						<td class="total-6-bord">{{ somme|number_format(2, '.', ' ') }} €</td>
					</tr>
					<tr>
						<td colspan="3" rowspan="3" class="total-1-mention">
						</td>
						<td class="total-4"></td>
						<td class="total-5-bord">Acompte</td>
							{% set acompte = 0 %}
							{% if avoir.facture.devis and avoir.facture.devis.accompte %}
								{% set acompte = avoir.facture.devis.accompte.montant %}
							{% endif %}
						<td class="total-6-bord">{{ acompte|number_format(2, '.', ' ') }} €</td>
					</tr>
					<tr>
						<td class="total-4"></td>
						<td class="total-5-bord">Avoir</td>
						{% set somme = somme - acompte %}
						<td class="total-6-bord">- {{ somme|number_format(2, '.', ' ') }} €</td>
					</tr>
					<tr>
						<td class="total-4"></td>
						<td colspan="2" class="total-5" id="tva">{{ avoir.facture.devis.client.zone.texteTva }}</td>
					</tr>
					<tr>
						<td class="total-1"></td>
						<td class="total-2"></td>
						<td class="total-3"></td>
						<td class="total-4"></td>
						<td class="total-5">
						 <a href="{{ path('research_customers', { name: avoir.facture.devis.client.nom }) }}" class="btn btn-primary btn-block btn-sm">Retour</a>
						</td>
						<td class="total-6"><div id="react_debit_btn" data-debit="{{ json }}"></div></td>
					</tr>
				</table>
			</footer>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/render_PDF.css') }}">
{% endblock %}
